@media screen and (max-width:500px){
    .section__three{
        height: 1100px;
        &__div-grid{
            flex-wrap: wrap;
            @include center;
        }


    }

    .section__five{
        height: 1600px;
        &__div-grid{
            flex-direction: column;
            &item{
                width: 100%;
            }
        }
    }
}