$upper-case: uppercase;
$capital-case: capitalize;
$fontweightbold: 700;
$fontweightthin: 100;

$fontfamily: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

$buttoncolorblue: #1D809F;
$buttoncolorbluehover: #196d87;
$seconecolorblack: #212529;
$seconecolorblackhover: #424649;
$iconcolorblue: #1D809F;